
*{
	   		padding: 0;
	   		margin: 0;	}

	  
	   	.all{
			width: 100%;
			height: 100%;
	   	}
	   	.all .topBanner{
			width: 100%;
			height: 8%;
			background-color: #ff8288;
			line-height: 2.3rem;
			color: #fff;
			text-align: center;
			position: relative;
	   	}
	   	.all .topBanner span{
	   	font-size: 1.45rem;
	   	left: 125px;top: 10px;
	   		color: white;position: absolute;

	   	}
	   	.con{
	   		width: 100%;
	   		height: 92%;
	   		background:#fdefe7;
			overflow: hidden;
	   	}
	   	.con .con_main{
	   		width:92%;
	   		margin: 0 auto;	
	   		height: 92%;	
	   		margin-top: 1.0rem;	
	   	}
	   	.con .con_main span{
    font-family: MicrosoftYaHei;
    display: block;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.2rem;
    letter-spacing: 2px;
    color: #666666;position: relative;top: 3px;
	   	}
	   	.con .con_main .phone{
	   		width: 100%;
	   		height: 1.875rem;
	   		margin-top:0.825rem;
			margin-bottom: 1rem;
	   	}
	   .con .con_main .phone .number{
width: 9.9rem;
    height: 2.5rem;
    color: #cccccc;
    font-family: MicrosoftYaHei;
    font-size: 0.95rem;
    font-weight: normal;
    border: none;
    border-radius: 0.25rem;
    padding-left: 2.95rem;
    float: left;
	   }
	   .con .con_main .phone .butt{
    width: 5.5rem;
    height: 2.0rem;
    border: none;
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 0.95rem;
    color: #ffffff;
    font-weight: normal;
    border-radius: 0.25rem;
    background-color: #ff8288;
    float: left;
    margin-left: 1.5rem;
    margin-top: 0.4rem;
	   }
	 	
		.con .con_main .yzm{
			width: 100%;
			height: auto;
			margin-top:0.825rem;
		}
		.con .con_main .yzm .nums{
    border: none;
    width: 96%;
    height: 2.3rem;
    border-radius: 0.25rem;
    font-family: MicrosoftYaHei;
    font-size: 0.95rem;
    font-weight: normal;
    color: #cccccc;
    padding-left: 0.45rem;
    margin-bottom: 1.0rem;
		}
		.con .con_main .yzm .denglu{
	    width: 100%;
    height: 2.75rem;
    text-align: center;
    line-height: 2.75rem;
    background-color: #ff8288;
    color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    font-family: MicrosoftYaHei;
    font-size: 1.3rem;
		}
		.con .con_main .yzm span{
			display: block;
			height: 0.575rem;
			font-family: SimSun;
			font-size: 0.99rem;
			font-weight: normal;
			font-stretch: normal;
			line-height: 0.9rem;
			letter-spacing: 0.05rem;
			color: #ff8288;
			margin-top: 1.45rem
		}
		.yw{
			color: gray;
			font-size: 0.5rem;
			margin-bottom: 0.5rem;
		}